:root {
    --top-c: 10px;
    --show-main: block;
    --show-done: none;
}

body {
    background-color: rgb(120, 120, 120);
}

#mainlist {
    display: var(--show-main);
    border: 5px;
    border-style: solid;
    border-color: black;
    padding: 1em;
    background-color: lightblue;
    border-radius: 20px;
}

#listdone_title {
    display: var(--show-done);
}

#donelist {
    display: var(--show-done);
    border: 5px;
    border-style: solid;
    border-color: black;
    padding: 1em;
    background-color: lightblue;
    border-radius: 20px;
}

div.listbox {
    border: 5px;
    border-style: solid;
    border-color: black;
    padding-left: 1em;
    padding-right: 1em;
    background-color: goldenrod;
    border-radius: 20px;
}

div.settings {
    border: 5px;
    border-style: solid;
    border-color: black;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    background-color: rgb(66, 101, 143);
    border-radius: 20px;
}

button.button {
    margin: 1px;
    border-style: solid;
    border-radius: 2px;
}

button.listbutton {
    background-color: rgb(187, 58, 58);
    text-decoration-color: blue;
    margin-left: 3px;
    border-radius: 5px;
}

button.changebutton {
    background-color: rgb(51, 102, 255);
    text-decoration-color: blue;
    border-radius: 5px;
}

#ch {
    border: 5px;
    border-style: solid;
    border-color: black;
    background-color: red;
    position: absolute;
    top: var(--top-c);
    right: 10px;
    margin: 10px;
    border-radius: 20px;
    height: 40px;
    width: 255px;
}

#chname {
    position: relative;
    left: 10px;
    top: 8px;
}

#brk {
    position: relative;
    left: 20px;
    top: 8px;
    background-color: rgb(187, 58, 58);
    text-decoration-color: blue;
    margin-left: 3px;
    border-radius: 5px;
}

#showadv {
    /*zoom: 2;
    transform: scale(2);*/
}